
@font-face {
    font-family: 'RUBBB';
    src: url('../fonts/RUBBBB.ttf');
  }


body {
   // background-image: url('../images/videogame.png');
   // background-size: cover;
  }



#buttons {
  padding: 20px;
}

#mainImage {
 width: 700px;
}

.secondaryImages {
  width: 700px;
 }
 
.tags{
 background-color: red($color: #000000);
}

 .genres {
  background-color: blue

}
